;; shadow-cljs configuration
{:source-paths
 ["src"]

 :deps true

 :dev-http
 {8080 "public"}

 :builds
 {:client
  {:target :browser
   
   :build-hooks
   [(ngame.build.util/copy-static-files)]
   
   :modules
   {:main {:init-fn ngame.client.client/init}}
   
   :devtools
   {:before-load ngame.client.client/stop
    :after-load ngame.client.client/start}}
  
  :server
  {:target :node-script
   :main ngame.server.server/-main
   :output-to "target/server.js"}}}
